{% extends 'base.html' %}
{% block content %}

    <div class="shadow-lg mt-3 mb-4">
        <div class="pt-3 pb-4 ">
            <div class="block bg-white py-3 border-t">
                <div class="px-4 py-2 flex  justify-between">
                    <span class="font-bold">文章列表</span>
                    <div>
                        <span class="px-3 text-sm font-semibold">#{{ articles | length }}</span>
                        <span class="text-sm font-semibold px-4 py-1 text-gray-800 rounded-full bg-green-300">Active</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mb-6">
        {% for article in articles %}
        <div class="shadow-lg pt-3 ml-2 mr-2 rounded-3xl mb-4">
        <div class="block bg-white py-3 border-t pb-4 rounded-3xl">
            <a href="{% url 'article_detail' article.id %}" >
                <div class="px-4 py-2 flex  justify-between">
                    <span class="text-2xl font-semibold text-gray-900">{{ article.title }}</span>
                    <span>
                        <small class="col align-self-end" style="color: gray;">
                                浏览: {{ article.total_views }}
                            </small>
                    </span>
                </div>
                <div class="h-40 overflow-clip overflow-hidden ">
                    <div class="px-4 py-4 text-base leading-loose text-gray-700 ">{{ article.body | safe }}</div>
                </div>

            </a>
        </div>


        </div>
        {% endfor %}
    </div>
    <!-- 页码导航 -->
<div class="pagination row mb-28">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}"
                   class="btn btn-secondary">
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}"
                   class="btn btn-success">
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}